@font-face {
  font-family: "f1Font";
  src: url("./Fonts/Formula1-Regular-1.ttf") format("truetype");
}

.calendar-event-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  background-color: #470202;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: "f1Font", sans-serif;
}
